body, html {
    height: 100%;  /* Ensure the body and html take full height */
    margin: 0;
}

.scholar-list-container h2 {
    font-size: 30px;
    color: #334F7D;
    border-bottom: 2px solid #D0D5E2;  /* Adjust thickness and color of the line */
    padding-bottom: 10px;  /* Optional: Adds some space between the text and the line */
}

.scholar-list-container {
    width: 95%;
    min-height: 90px;
    border:solid 3px #D0D5E2;
    padding: 20px;
    border-radius: 10px;
    overflow-y: auto;
    margin: 0 auto;  /* Centers horizontally */
}

.divider{
    margin:10px;
}

.Types-Scholars{
    width:95%;
    height: 20vh;
    margin: 0 auto;
    margin-top:8vh;
    display: flex;
    justify-content: center; /* Aligns child elements horizontally in the center */
    align-items: center;
}
.All, .RA7687-Scholars, .Merit-Scholars, .JLSS-Scholars {
    width: 30%;
    height: 20vh;
    background: #334F7D;
    margin: 5px;
    border-radius: 15px;
    padding: 30px;
    color: white;
    margin-top: -8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure space between header and count */
    align-items: center;
}

.All h3, .RA7687-Scholars h3, .Merit-Scholars h3, .JLSS-Scholars h3 {
    font-size: 1.8rem;
    color: white;
    margin: 0;
}

.All p, .RA7687-Scholars p, .Merit-Scholars p, .JLSS-Scholars p {
    font-size: 1.8rem; /* Larger text for the count */
    margin: 0; /* Remove default margin */
    flex-grow: 1; /* Take up remaining space */
    display: flex;
    justify-content: center; /* Horizontally center the text */
    align-items: center; /* Vertically center the text */
}

/* Style for buttons */
.dashboard-button,
.create-scholar-button {
    width: 15%;
    height: 6vh;
    background: #334F7D;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    margin-left:40px;
}
